name: sweep-02-06-2025-dense
method: bayes  # 'random' or 'grid' are alternatives
metric:
  name: val_top_1_accuracy
  goal: maximize

parameters:
  learning_rate:
    distribution: log_uniform_values
    min: 0.0028
    max: 0.0048
  weight_decay:
    distribution: log_uniform_values
    min: 0.00005
    max: 0.001
  momentum:
    min: 0.92
    max: 0.96
  batch_size:
    values: [256, 384]
  val_split:
    values: [0.1]
  epochs:
    value: 10
  num_workers:
    value: 2


early_terminate:
  type: hyperband
  min_iter: 5

command:
  - python
  - train.py
